.cart{
    margin: auto;
    width: 80%;
}
body{
    background-color: #f4f2ee;
}
.cartTitle{
    margin:auto;
    font-weight: bold;
    padding-bottom: 10px;
}
.cartWrapper{
    display: grid;
    grid-template-columns: 10px repeat(5, auto);
}
.cartItems{
    grid-column: 2/7;
}
.cartSide{
    grid-column: 8/12;
}
.cartButtons{
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    width: 60%;
}
.total{
    display: flex;
    justify-content: space-between;
}
.buttonsAd{
    display: flex;
    justify-content: space-between;
}
.buttonBuy{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 30px;
}
.vazio{
    grid-column: 2/7;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
@media screen and (max-width: 900px) {  .cartWrapper {display: flex; flex-direction: column;}}
