.mainTitle {
    color: white;
    font-weight: bold;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    
}

.box {
    height: 150px;
    background-size: cover;  
    background-position: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
