#barra-pesquisa {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  background-color: white; 
  width: 40%; /* Estica a barra para ocupar toda a largura */
}

.pesquisa {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
  flex-grow: 1; /* Faz a pesquisa ocupar o espaço disponível */
}

.pesquisa svg {
  color: #6c757d;
  margin-right: 5px;
}

.pesquisa input {
  border: none;
  outline: none;
  font-size: 14px;
}

.categorias select {
  border: none;
  outline: none;
  font-size: 14px;
  color: #6c757d;
  background-color: #f8f9fa;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
}
