.header {
  background-color: rgb(239, 188, 155);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding: 1em;
  margin-bottom: 2em;
}

#logo {
  display: flex;
}

#titulo {
  padding-left: 30px;
}

#menu {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}



#shopping_cart:hover {
  cursor: pointer;
}

#shopping_cart:active {
  display: block;
}

.cart-hover {
  position: absolute;
  display: none;
}
#shopping_cart:active + .cart-hover {
  display: block;
}
