.navbar {
  background-color: rgb(239, 188, 155) !important;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#titulo {
  margin-left: 10px;
  color: black;
  padding-bottom: 20px;
}

.h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  background: none;
  
}

.navbar-nav {
  margin-left: auto;
  
}

.mr-auto {
  margin-right: auto; 
}

.nav-link {
  color: #000; 
  font-size: 18px; 
  font-weight: bold; 
  text-decoration: none; 
  padding-bottom: 15px; 
}

.navbar-toggler {
  border: none !important;
}

.cart-count {
  position: relative;
  top: -20px;
  left: -10px;
  font-size: 16px;
  font-weight: bold;
}
