#barra {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#barra li {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#barra li:hover {
  background-color: #f0f0f0;
}

#barra .active {
  background-color: #ffc107;
  color: white;
}

#pontos {
  pointer-events: none;
}

#next {
  margin-left: 10px;
  margin-right: 10px;
}
