.Pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Barra_numero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Filtro{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}